[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
dependencies = []
readme = "README.md"
license = "MIT"
license-files = ["LICENSE"]
requires-python = ">={{ python_version }}"

[dependency-groups]
dev = [
    "click>=8.4.2",
    "pre-commit>=4.6.2",
    "ruff>=0.16.4",
]

[project.scripts]
qr = "{{ package_name }}.main:cli"
